@model List<ModelContato>  //Recebe o List<ModelContato> enviado pela ContatoController através do método index... obs. somente pode ser carregado 1 model por view
@{
    ViewData["Title"] = "Lista de Contato"; 
}
 <div class="text-center">

     @if(TempData["MensagemSucesso"]!= null)
    {
         <div class="alert alert-success" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
             @TempData["MensagemSucesso"]
         </div>
    }

      @if(TempData["MensagemErro"]!= null)
    {
        <div class="alert alert-danger" role="alert">
         <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
          @TempData["MensagemErro"]
        </div>
    
    }
    <br />

    <h1 class="display-4">Lista de Cliente</h1>
    <br/>
    <a asp-controller="Contato" asp-action="Cadastrar" class="btn btn-outline-primary" id="newcontact">Novo Contato</a>  <!-- O atributo asp-controller informa quem é Controller que receberá a requisção da ancora <a> e o   asp-action="Cadastrar! o método -->
    <br/>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Celular</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any()) //verifico se o model carregado na linha 1 possui dados 
            {
                foreach (ModelContato contato in Model)
                {
                    <tr>
                      <th scope="row">@contato.Id</th>
                      <td>@contato.Nome</td>
                      <td>@contato.Email</td>
                      <td>@contato.Celular</td>                     
                      <td>
                         <div class="btn-group" role="group" aria-label="Basic mixed styles example">                            
                           <a asp-controller="Contato" asp-route-id="@contato.Id" asp-action="Editar" class="btn btn-info">Editar</a>   <!-- ** O atributo 'asp-route-id' contendo o  "contato.Id" é configurado para quando aperta no botão editar enviar o ID do contato em questão -->
                           <a asp-controller="Contato" asp-route-id="@contato.Id" asp-action="ApagarConf" class="btn btn-danger">Apagar</a>       
                        </div>
                      </td>      
                    </tr>                    
                }
            } 
             <!-- ** O "asp-controller" inidicar na tag 'a' qual o controlador recebe a requisição, e o "asp-action" o método lá presente que ira receber a solicitação  -->
      </tbody>
    </table>

</div>