@using ProjetoEntrevista.Enum;
@model ModelUsuario;
@{
    ViewData["Title"] = "Edicao de Usuario"; 
}
 <div class="text-center">

           @if(TempData["MensagemErro"]!= null)
        {
            <div class="alert alert-danger" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
              @TempData["MensagemErro"]
            </div>
    
        }
        <br />
        <h1 class="display-4">Editar Usuario</h1>
        <br />       
        <form asp-controller="Usuario" asp-action="Editar" method="post">   <!-- O atributo asp-controller informa quem é Controller que receberá o submit o   asp-action = "Cadastrar"" o método que iratratar a requisição sobre o método method="post" POST -->       

          <input type="hidden" asp-for="Id" class="form-control"/>

          <div class="col-md-12">
            <label>Nome</label>
            <input type="text" asp-for="Name" class="form-control">
             <!--@Html.//ValidationMessageFor(x=>x.Name)   Todo método Html.ValidationMessageFor() aqui, fazEM referência ao DATA_annotation do seu campo espeficifo na classe ModelContato para validação dos campos-->
          </div>
           <div class="col-md-12">
            <label>Login</label>
            <input type="text" asp-for="Login" class="form-control">
           <!-- @Html.//ValidationMessageFor(x=>x.Nome)Todo método Html.ValidationMessageFor() aqui, fazEM referência ao DATA_annotation do seu campo espeficifo na classe ModelContato para validação dos campos-->
          </div>
          <div class="col-md-12">
            <label>Email</label>
            <input type="text" asp-for="Email" class="form-control" id="emailUsuario"  >           
            @Html.ValidationMessageFor(x=>x.Email)
           <span id="errorEmail" style="display:none;color:red;">Digite um email válido</span>
          </div>          
          <div class="col-md-12">           
            <div class="col-md-12">
            <label for="validationDefaultUsername" class="form-label">Senha</label>              
            <input type="password" asp-for="Senha" minlength="6" class="form-control" required>      
             @Html.ValidationMessageFor(x=>x.Senha)           
            </div>             
          </div>
          <div class="col-md-12">
            <label>Perfil</label>         
            <select  asp-for="Perfil"  class="form-control" > 
                <option value="@Perfil.Admin">Administrador</option>
                <option value="@Perfil.Padrao">Padrão</option>
            </select>
             <!--@Html.//ValidationMessageFor(x=>x.Name)   Todo método Html.ValidationMessageFor() aqui, fazEM referência ao DATA_annotation do seu campo espeficifo na classe ModelContato para validação dos campos-->
          </div>
          <br />        
          <div class="col-12">
            <button class="btn btn-success" type="submit" id="btnEditUser">Salvar</button>
            <a asp-controller="Usuario" asp-action="Index" class="btn btn-danger btn-block">Voltar</a>
          </div>
        </form>
</div>
     